<%= render "budgets_summary" %>

<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <h1>Listing entries</h1>

  <%= render "table" %>

  <br>

  <%= link_to 'New Entry', new_entry_path %>
</div>
